div.caixa{
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
}

div#esquerda{
    margin: 20px;
    float: left;
}

div#direita{
    float: right;
}

div#title{
    background-color: rgba(2, 2, 2, 0.363);
    width: inherit;
    height: 100px;
    border: 0cm;
}

div#menu{
    background-color: rgba(2, 2, 2, 0.521);
    height: inherit;
    width: 200px;
    float: left;
}

div.anime{
    float: left;
    margin: 20px;
    border: 2px solid rgba(2, 2, 2, 0.521);
    background-color: rgba(2, 2, 2, 0.521);
}